.User {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.User img {
    width: 30px;

    border-radius: 50%;

    background: rgb(185, 185, 185);

    transition: .5s all;
}

.User img:hover {
    background: rgb(225, 69, 23);

    cursor: pointer;
}

.User div span {
    color: rgb(225, 69, 23);
}