.MoviePage {
    width: 100%;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    background: rgb(19, 19 ,19);
}

.MoviePage.light {
    background: rgb(211, 211, 211);
}

.MoviePageWrap {
    width: 85%;

    display: flex;
    justify-content: space-between;
}